# Pandas Cleaning 1

Being a wizard can be dangerous. Being a wizard in training can be even more dangerous. The Hogwarts school nurse is a very busy person and records their activity in a log. You are asked to review a sample of the logs from the nurse's office of Hogwarts and to report your findings.

## Part 1 -- Create

(10 points) Download the data from Canvas and load it into an appropriate Python structure.  Leave a comment in your code justifying your choice in data structure.  

You do not need to include this file with your submission; everyone's code will be ran with the same input data; do not modify the format of the file for your program.

In [1]:
# import pandas for data structure and manipulation
import pandas as pd

# path of file from github
url = r'https://raw.githubusercontent.com/masseygeo/LearningDataScience/main/datasets/Pandas_01.csv'

# read csv file into dataframe
df = pd.read_csv(url)

# view first 5 records of imported dataset
df.head()

,medical_record_number,first_name,last_name,visit_id,date,time_spent,height(cm),weight(kg),charge,supplies_used
0,15685.0,Harry,Potter,8219,06-05-1994,20 minutes,174.0,57,25.72,5.0
1,7619.0,Ron,Weasley,7512,01-15-1994,10 minutes,180.0,60,7.16,2.0
2,14593.0,Hermione,Granger,5896,01-25-1994,20 minutes,164.0,53,8.85,1.0
3,15685.0,Harry,Potter,1552,1994-02-15,5 minutes,174.0,58,25.72,3.0
4,15685.0,Harry,Potter,1202,05-19-1994,20 minutes,174.0,55,25.72,3.0

In [2]:
# general info about the dataset including feature variables, non-null, and dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   medical_record_number  21 non-null     float64
 1   first_name             21 non-null     object
 2   last_name              21 non-null     object
 3   visit_id               22 non-null     int64
 4   date                   21 non-null     object
 5   time_spent             21 non-null     object
 6   height(cm)             21 non-null     float64
 7   weight(kg)             22 non-null     int64
 8   charge                 22 non-null     float64
 9   supplies_used          21 non-null     float64
dtypes: float64(4), int64(2), object(4)
memory usage: 1.8+ KB

In [3]:
# general stats on entire dataset 
df.describe(include='all')

,medical_record_number,first_name,last_name,visit_id,date,time_spent,height(cm),weight(kg),charge,supplies_used
count,21.000000,21,21,22.000000,21,21,21.000000,22.000000,22.000000,21.000000
unique,NaN,9,8,NaN,18,7,NaN,NaN,NaN,NaN
top,NaN,Ron,Weasley,NaN,01-15-1994,10 minutes,NaN,NaN,NaN,NaN
freq,NaN,7,7,NaN,3,8,NaN,NaN,NaN,NaN
mean,16269.857143,NaN,NaN,5465.500000,NaN,NaN,247.714286,65.045455,19.412273,384.952381
std,12475.755990,NaN,NaN,2851.657325,NaN,NaN,369.507935,26.646678,9.383818,1744.831524
min,7619.000000,NaN,NaN,1202.000000,NaN,NaN,57.000000,25.000000,0.000000,-1.000000
25%,7619.000000,NaN,NaN,2693.250000,NaN,NaN,174.000000,57.250000,15.785000,1.000000
50%,15685.000000,NaN,NaN,5879.000000,NaN,NaN,180.000000,60.000000,19.845000,3.000000
75%,15685.000000,NaN,NaN,7512.000000,NaN,NaN,180.000000,61.000000,25.720000,6.000000
max,51627.000000,NaN,NaN,9861.000000,NaN,NaN,1855.000000,174.000000,42.670000,8000.000000

## Part 2 -- Missing Data

(15 points) Write a function that accepts as input your data structure from Part 1 and a "column" of data (a single variable name represented as a string) and reports the number of missing values.  

Test your function by calling it at least three time and show the output; demonstrate your function works correctly by calling it with columns with and without missing data.

In [4]:
def missing_vals(df, col):
  '''
  Function to evaluate dataframe variable (column) and report missing or NaN values.

  Args:
    df: dataframe containing variable
    col: string of variable name in dataframe
  
  Returns:
    string: printed count of missing values in variable of interest
  '''
  # boolean of variable for NaN/missing values, then summing number of True
  missing = df[col].isna().sum()

  # print formatted string for report
  print('Number of missing values in *{0}*: {1}'.format(col, missing))



# test 1 - float dtype data with missing value
missing_vals(df, 'medical_record_number')

# test 2 - integer dtype with no missing values
missing_vals(df, 'visit_id')

# test 3 - object dtype with missing value
missing_vals(df, 'date')

Number of missing values in *medical_record_number*: 1
Number of missing values in *visit_id*: 0
Number of missing values in *date*: 1

## Part 3 -- Bad Dates

(15 points) Write a function that accepts as input your data structure from Part 1 and a "column" of data (a single variable name represented as a string) and reports the number of bad dates (impossible dates, poorly formated, etc).  For example, September has no 31st day.  If the record is not a date at all, such as the name "Potter", consider it a bad date by default.

Test your function by calling it at least two times and show the output: once with the "date" column from the data and once with any other column.

In [5]:
def bad_dates(df, col):
  '''
  Function to identify and report bad dates in dataframe variable.

  Args:
    df: dataframe containing variable
    col: string of variable name in dataframe
  
  Returns:
    string: printed count of bad dates in variable of interest
  '''
  # converting variable to pandas datetime object with month-day-year format and
  # coercing error into NaT values
  dates = pd.to_datetime(df[col], format='%m-%d-%Y', errors='coerce')

  # counting NaT values in new datetime variable above
  bad = dates.isna().sum()

  # formatted string report of bad dates
  print('Number of incorrectly formatted or bad dates in *{0}*: {1}'.format(col, bad))

    
    
# test 1 - date variable with 4 values of missing, incorrectly formatted, and impossible dates
bad_dates(df, 'date')

# test 2 - float variable not able to parse any records into datetime format
bad_dates(df, 'medical_record_number')

Number of incorrectly formatted or bad dates in *date*: 4
Number of incorrectly formatted or bad dates in *medical_record_number*: 22

## Part 4 -- Outliers

(15 points) Write a function that accepts as input your data structure from Part 1 and a "column" of data (a single variable represented as a string) and reports the number of outliers.  

Define outliers as any value that is -/+ **X** standard deviations away from the mean value, where **X** is a value you choose.  

Special case consideration: return 0 by default if the input data is not numerical data (because standard deviation must be well-defined for this function to work properly).

Leave as a comment how you chose the value of **X**.

Test your function by calling it at least two times and show the output: once with a column containly only numerical records and one containing at least one non-numerical result.

In [6]:
# using pandas.api.types module to id numeric data types
import pandas.api.types

def outlier_vals(df, col):
  '''
  Function to identify and report outliers in numeric dataframe variable; non-numeric
  variables returned as 0.

  Args:
    df: dataframe containing variable
    col: string of variable name in dataframe
  
  Returns:
    string: printed count of bad dates in numeric variable of interest, or 0 for non-numeric variable input
  '''
  # for numeric data types find outliers
  if pandas.api.types.is_numeric_dtype(df[col]) == True:
    # center of data
    center = df[col].mean()
    
    # threshold for outliers at 2*standard deviation of sample because this should include
    # approximately 95% of the dataset if normally distributed
    threshold = df[col].std() * 2
    
    # upper fencepost of outliers
    upper = center + threshold
    
    # lower fencepost of outliers
    lower = center - threshold
    
    # find outliers using upper OR lower outlier fenceposts; count number number of outlier records
    outliers = df.loc[(df[col] > upper) | (df[col] < lower), col].count()
    
    # print count and report of outliers in formatted string
    print('Number of outliers in column *{0}*: {1}'.format(col, outliers))
  
  # for non-numeric data types return 0
  else:
    return 0



# test 1 - numeric variable with one obvious outlier
outlier_vals(df, 'height(cm)')

# test 2 - non-numeric variable with no outliers
outlier_vals(df, 'first_name')

Number of outliers in column *height(cm)*: 1

0

## Part 5 -- Consistency Checking Example

(15 points) -- Write a function that checks for consistency in the **time_spent** column.  Assume that the correct unit of measurement should be **minutes**.  Your function should return how many values are not consistent with this chosen standard.

Design your own function parameters.  Leave as a comment why you chose these parameters.

Test your function by calling it at least once and show the output.

In [7]:
def dataconsistency(df, col, unit='minutes'):
  '''
  Function to identify and report inconsistent formatting in time_spent variable.
  Variables dataset and column chosen to be consistent with the rest of the assignment,
  and variable unit chosen to allow user option to check other formatting options.

  Args:
    df: dataframe containing variable
    col: string of variable name in dataframe
    unit: string of units to check for formatting; default is minutes 
  
  Returns:
    string: printed count of bad dates in variable of interest
  '''
  # total number of records in variable/dataframe MINUS the number of records that contain the 
  # user defined parameter 'unit' (sum of True in boolean; NaN treated as False)
  inconsistent = len(df[col]) - df[col].str.contains(unit, na=False).sum()
  
  # formatted string report of total number of inconsistent records for given input
  print('Number of recrods inconsistent with units of *{0}* in *{1}*: {2}'.format(unit, col, inconsistent))



# test 1 - testing for minutes unit on time_spent variable should show 3 inconsistent values
# of different units (hours and minute) and NaN
dataconsistency(df, 'time_spent')

# test 2 - testing for hours on time_spent variable should show 21 inconsistent values
dataconsistency(df, 'time_spent', unit='hours')

Number of recrods inconsistent with units of *minutes* in *time_spent*: 3
Number of recrods inconsistent with units of *hours* in *time_spent*: 21

## Part 6 -- Reporting

(10 points) -- Write code that generates a report using the functions defined in Parts 2-5.  Your report should summarize any findings **per appropriate columns**.

You may write this to file or just print to standard output.  

Below is an example output (using X,Y,Z in place of actual values). You may deviate from the example output as long as the same information is conveyed; in other words, you have **creative freedom in presentation** but the content needs to summarize the results from Parts 2-5.

```
Column medical_record_number has X missing values.
Column first_name has X missing values.
Column last_name has X missing values.
Column visit has X missing values.
Column date has X missing values.
Column time_spent has X missing values.
Column height(cm) has X missing values.
Column weight(kg) has X missing values.
Column charge has X missing values.
Column supplies_used has X missing values.

Column time_spent has X outliers.
Column height(cm) has X outliers.
Column weight(kg) has X outliers.
Column charge has X outliers.
Column supplies_used has X outliers

Column date has Y bad dates.
Column time_spent Z inconsistent values.
```

In [8]:
# report title
print("HOGWART'S NURSE LOG\nDATA REPORT\n--------------")

# section title
print('Missing Data:')
# report for missing values in all columns
for cols in df.columns:
  missing_vals(df, cols)

# section title
print('\nRelevant Outliers:')
# report for outliers in relevant numeric data type columns only
# relevant numeric variables where outlier analysis is appropriate
relevant = ['height(cm)', 'weight(kg)', 'charge', 'supplies_used']
for cols in df[relevant]:
  if pandas.api.types.is_numeric_dtype(df[cols]) == True:
    outlier_vals(df, cols)
# note of outlier definition and methodology
print('  ***defined as +/- 2 standard deviations away from the mean')
print('  ***NaN not considered')

# section title
print('\nDate-Times:')
# report for only datetime column in dataset
bad_dates(df, 'date')

# section title
print('\nTime Spent Unit Conistency:')
# report for unit consistency in time_spent variable
dataconsistency(df, 'time_spent')

HOGWART'S NURSE LOG
DATA REPORT
--------------
Missing Data:
Number of missing values in *medical_record_number*: 1
Number of missing values in *first_name*: 1
Number of missing values in *last_name*: 1
Number of missing values in *visit_id*: 0
Number of missing values in *date*: 1
Number of missing values in *time_spent*: 1
Number of missing values in *height(cm)*: 1
Number of missing values in *weight(kg)*: 0
Number of missing values in *charge*: 0
Number of missing values in *supplies_used*: 1

Relevant Outliers:
Number of outliers in column *height(cm)*: 1
Number of outliers in column *weight(kg)*: 1
Number of outliers in column *charge*: 2
Number of outliers in column *supplies_used*: 1
  ***defined as +/- 2 standard deviations away from the mean
  ***NaN not considered

Date-Times:
Number of incorrectly formatted or bad dates in *date*: 4

Time Spent Unit Conistency:
Number of recrods inconsistent with units of *minutes* in *time_spent*: 3